@page "/DeviceLst"

<h3>DeviceList</h3>

@* <DailyStats></DailyStats> *@
<DeviceList ExtraCaption="Här visas ExtraCaption!"></DeviceList>
<a href="@($"DeviceAdd")" class="btn btn-outline-primary">Add Device</a>


