
 <table class="table">
        <thead>
            <tr>
                <th scope="col">Total devices</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="col">@NumberOfDevices</td>
            </tr>
        </tbody>
</table>